{% extends "dashboard.html" %}

{% block content %}
<div class="recentpayments">
    <div class="cardheader">
        <h2>All Recent Payments</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Student</th>
                <th>Grade</th>
                <th>Amount</th>
                <th>Method</th>
                <th>Code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in recent_payments %}
            <tr>
                <td>{{ payment.full_name }}</td>
                <td>{{ payment.grade_name }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.method }}</td>
                <td>{{ payment.code if payment.method in ['Mpesa', 'Bank'] else 'N/A' }}</td>
                <td>{{ 'Verified' if payment.verified else 'Pending' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
